<head>
</head>
<body>
    <div id="content">
    <h3>Type anything:</h3>
    <p>
    <form action="." method="POST">
        <table>
        <tr><td>Anything</td><td><input id="anything" type="text" name="anything" placeholder="Type anything here"></td></tr>
        <tr><td>Dropdown</td><td><select id="show_number" name="show_number" onChange="toggleNumber();">
            <option value="yes">yes</option>
            <option value="no">no</option>
        </select></td></tr>
        <tr id="tr_anumber"><td>A number</td><td><input id="anumber" type="number" name="anumber" placeholder="Any number here"></td></tr>
        <tr><td>Mail to</td><td><textarea id="mail_to" name="mail_to" placeholder="Comma separated list"></textarea></td></tr>
        </table>
        <p>
        <input id="submit_button" type="submit" name="anything_submit" value="Submit" onclick="loading();">
    </form>
    </p>
    </div>
    <div id="loading" style="display:none;">
    </div> 
</body>
<script type="text/javascript">// <![CDATA[
        function loading(){
            var startTime = new Date().getTime();  // Set the moment we're counting from
            
            var x = setInterval(function() {
              var now = new Date().getTime();
              var distance = now - startTime;
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
              var intro = "Please wait...&nbsp;&nbsp;&nbsp;"
              document.getElementById("loading").innerHTML = intro + minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0");
            }, 1000);
            
            $("#loading").show();
            $("#submit_button").hide();
        }

        function toggleNumber(){
            var val = document.getElementById("show_number").value;
            if (val === "yes") {
                $("#tr_anumber").show();
            } else {
                $("#tr_anumber").hide();
            }
        }
// ]]>
</script>


<script src="/static/jquery.min.js">
</script>